:root{
    /* Colors */
    --main-color: white;
    --secondary-color: black;
    --warn-color: red;
    --hover-cl: #bb7e0e; 
}

body{
    font-family:'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    background: var(--secondary-color);
}

.list{
    list-style: none;
}

.link{
    text-decoration: none;
}

.header{
    background: var(--warn-color);
}

.contacts{
    color: rgb(15, 15, 140);
}

.contacts:hover,
.contacts:focus{
    color: var(--hover-cl);
}

h1{
    font-family: "Raleway", sans-serif;
    font-size: 800;
    line-height: 1.07;
    text-align: center;
}

h2{
    font-size: 700;
    line-height: 1.11;
    color: var(--warn-color);
}

h3{
    font-size: 500;
    font-style: italic;
    line-height: 1.2;
}